body,
header,
input,
fieldset,
textarea,
option,
select,
legend,
form,
section,
span,
li,
ul,
div,
hr,
button,
a,
p,
img,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
}
a {
  color: #fff;
  text-decoration: none;
}
select,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  resize: none;
  outline: none;
  color: #7d7d7d;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.05px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
button {
  border: none;
}
